:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  margin-right: 10px;
}

.card-frame {
  height: 550px;
}

.card {
  width: 18rem;
}

.completed {
  background-color: rgb(208, 239, 161);
}

.uncompleted {
  background-color: rgb(233, 146, 146);
}

.page-link {
  padding: 5px 8px;
}